$background-color:#353536;
$violet:#BD11FA;
$bleu:#46C2FF;
$grisfonce:#2c2c2d;
$grisopacite:rgba(57, 57, 77, 0.39);
$vert:#00EC98;
$vertopacite:rgba(0, 236, 153, 0.23);
$white:#ffffff;
$whitetexte:#ffffff3a;

$gradient:linear-gradient(to right, $bleu, $violet);

%button{
    color: $white;
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
}

%h3{
    color: $white;
    font-size: 30px;
    font-weight: 400;
}

%h2{
    color: $white;
    font-size: 45px;
    font-weight: 100;
}

%h4{
    color: $white;
    font-size: 20px;
    font-weight: 400;
}


%p{
    color: $whitetexte;
    font-size: 13px;
    line-height: 160%;
    margin-top: -10px;
}


%bloc{
    padding: 40px;
    display: flex;
    box-shadow: 2px 2px 30px 5px $grisfonce; 
    border-radius: 10px;
}


%button-gradient{
    background-image: $gradient;
    border: none;
    height:60px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 1px $gradient; 
}

%powerfull{
    width: 150px;
    height: 30px;
    background-color: $vertopacite;
    display: flex;
    justify-content: center;
    align-items: center;
}

%powerfull-texte{
    color: $vert;
    font-size: 13px;
    margin-top: 10px;
}